nav{
    height:50px;
    width: 100vw;
    background-color:hsl(175, 55%, 4%) ;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
a{
    color:antiquewhite ;
    text-decoration: none;
}
#nav{
    display:flex;
    justify-content:space-around;
    width:100;
}
#nav3{
    height: 50px;
    width: 100vw;
    background-color: black;
    diplay:flex;
    justify-content: space-around;
    align-items: center;
}
a{
    color: antiquewhite;
    text-decoration: none;
}
#nav>#div2{
    display:flex;
    width:100px;
    justify-content: space-between;
}
