nav{
    height: 80px;
    width:100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav>div:nth-child(1){
   height: 70px;
   width: 65%;
   background-color: aqua;
   display: flex;
   justify-content:space-between;
   align-items:start;
}
nav>div:nth-child(2){
    height: 70px;
   width: 27%;
   background-color: aqua;
   display: flex;
   justify-content: space-between;
   align-items:start;
}
