#container{
    border:2px solid blue;
    width: 200px;
    border: none;
    

    
}
#dropdown{
    border: 2px solid blue;
    height: 80px;
    width: 150px;
    border: none;
}
#dropdown{
    display: none;
    box-shadow: 0px 2px 2px maroon;
}
#dropdown>div:hover{
    background-color:brown ;
    color:white ;
}
